.swiper-container {
  width: 100%;
  height: 450px; /* 부모 컨테이너의 높이 */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 30px);
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  background-color: white; /* 기본 색상 화이트 */
  opacity: 0.6; /* 기본 상태의 불투명도 */
}

.swiper-pagination-bullet-active {
  background-color: orange; /* 활성화된 페이지네이션 색상 */
  opacity: 1; /* 활성 상태에서는 완전 불투명 */
}
